In [45]:
import pandas as pd
import numpy as np

In [100]:
#import json file
purchasedata = "purchase_data.json"
purchasedataDF = pd.read_json(purchasedata)
purchasedataDF.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

Player Count
Total Number of Players

In [96]:
# take value counts on SN and print the len to get total player count

playercount = purchasedataDF["SN"].value_counts()
playercount = len(playercount)
playercountDF = pd.DataFrame({"Total Players":[playercount]})
playercountDF

   Total Players
0            573

Purchasing Analysis (Total)

Number of Unique Items

Average Purchase Price

Total Number of Purchases

Total Revenue

In [97]:
# number of unique items. Take value count of Item ID and print len to get Item Name Count
itemName = purchasedataDF["Item ID"].value_counts()
itemcount = len(itemName)
itemcount

183

In [102]:
#Average Purchase Price. Take the mean of the Price column
averageprice = purchasedataDF["Price"].mean()
averageprice

2.931192307692303

In [6]:
#Total Number of Purchases. Take a count of all Item IDs
totalPurchases = purchasedataDF["Item ID"].count()
totalPurchases

780

In [7]:
#Total Revenue
totalrevenue = purchasedataDF["Price"].sum()
totalrevenue

2286.3299999999963

In [107]:
#Create new Data Frame with values and formats
purchanalysisDF = pd.DataFrame({
    "Number of Unique Items":[itemcount],
    "Average Price":[averageprice],
    "Number of Purchases":[totalPurchases],
    "Total Revenue":[totalrevenue]})
purchanalysisDF["Average Price"] = purchanalysisDF["Average Price"].map("${0:,.2f}".format)
purchanalysisDF["Total Revenue"] = purchanalysisDF["Total Revenue"].map("${0:,.2f}".format)
purchanalysisDF

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.93                  780                     183     $2,286.33

Gender Demographics

Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [108]:
#percentage and count of male players
gender = purchasedataDF.loc[purchasedataDF["Gender"]=="Male"]
malegender = gender["SN"].value_counts()
malecount = len(malegender)
print(malecount)

percentmale = malecount / playercount
percentmale

465

0.8115183246073299

In [109]:
#Percentage and Count of Female Players
gender = purchasedataDF.loc[purchasedataDF["Gender"]=="Female"]
femalegender = gender["SN"].value_counts()
femalecount = len(femalegender)
print(femalecount)

percentfemale = femalecount / playercount
percentfemale

100

0.17452006980802792

In [110]:
#Percentage and Count of Other / Non-Disclosed
gender = purchasedataDF.loc[purchasedataDF["Gender"] == "Other / Non-Disclosed"]
othergender = gender["SN"].value_counts()
othercount = len(othergender)
print(othercount)

percentother = othercount / playercount
percentother

8

0.013961605584642234

In [ ]:
#Create new Data Frame with Gender Analysis
#gendhanalysisDF = pd.DataFrame({
#    "Number of Unique Items":[itemcount],
#    "Average Price":[averageprice],
#    "Number of Purchases":[totalPurchases],
#   "Total Revenue":[totalrevenue]})
#gendhanalysisDF["Average Price"] = purchanalysisDF["Average Price"].map("${0:,.2f}".format)
#gendhanalysisDF["Total Revenue"] = purchanalysisDF["Total Revenue"].map("${0:,.2f}".format)
#gendhanalysisDF

Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count

Average Purchase Price

Total Purchase Value

Normalized Totals

In [11]:
# Male Purchase Count
malepurchase = purchasedataDF.loc[purchasedataDF["Gender"] == "Male"]
malepurchase = malepurchase["Item ID"].count()
print(malepurchase)

# Male Average Purchase Price
maleaverage = purchasedataDF.loc[purchasedataDF["Gender"] == "Male"]
maleaverage = maleaverage["Price"].mean()
print(maleaverage)

# Total Purchase Value
maletotal = purchasedataDF.loc[purchasedataDF["Gender"] == "Male"]
maletotal = maletotal["Price"].sum()
print(maletotal)

# Normalized Male Totals

633
2.9505213270142154
1867.6799999999985

In [12]:
# Female Purchase Count
femalepurchase = purchasedataDF.loc[purchasedataDF["Gender"] == "Female"]
femalepurchase = femalepurchase["Item ID"].count()
print(femalepurchase)

# Female Average Purchase Price
femaleaverage = purchasedataDF.loc[purchasedataDF["Gender"] == "Female"]
femaleaverage = femaleaverage["Price"].mean()
print(femaleaverage)

# Total Female Purchase Value
femaletotal = purchasedataDF.loc[purchasedataDF["Gender"] == "Female"]
femaletotal = femaletotal["Price"].sum()
print(femaletotal)

# Normalized Female Totals

136
2.815514705882352
382.90999999999985

In [13]:
# Other Purchase Count
otherpurchase = purchasedataDF.loc[purchasedataDF["Gender"] == "Other / Non-Disclosed"]
otherpurchase = otherpurchase["Item ID"].count()
print(otherpurchase)

# Other Average Purchase Price
otheraverage = purchasedataDF.loc[purchasedataDF["Gender"] == "Other / Non-Disclosed"]
otheraverage = otheraverage["Price"].mean()
print(otheraverage)

# Total Other Purchase Value
othertotal = purchasedataDF.loc[purchasedataDF["Gender"] == "Other / Non-Disclosed"]
othertotal = othertotal["Price"].sum()
print(othertotal)

# Normalized Other Totals

11
3.2490909090909086
35.739999999999995

Age Demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

Purchase Count

Average Purchase Price

Total Purchase Value

Normalized Totals

In [14]:
# Bins are 0 to 10, 10 to 14, 15 to 19, 20 to 24, 25 to 29, 30 to 34, 35+
bins = [0, 10, 15, 20, 25, 30, 35, 100]

# Create the names for the bins
group_names = ['< 10', '10 - 14', '15 - 19 ', '20 - 24', '25 - 29', '30 - 34', '35 +']

In [15]:
# Cut age and place the scores into bins
# append column at the end of original data frame for age group
purchasedataDF["Age Group"] = pd.cut(purchasedataDF["Age"], bins, labels=group_names)
purchasedataDF.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35 +
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20 - 24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30 - 34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20 - 24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20 - 24

In [16]:
groupitemcount = purchasedataDF.groupby("Age Group")["Item Name"].count()
groupitemcount

Age Group
10 - 14      78
15 - 19     184
20 - 24     305
25 - 29      76
30 - 34      58
35 +         47
< 10         32
Name: Item Name, dtype: int64

In [17]:
grouppriceaverage = purchasedataDF.groupby("Age Group")["Price"].mean()
grouppriceaverage

Age Group
10 - 14     2.873718
15 - 19     2.873587
20 - 24     2.959377
25 - 29     2.892368
30 - 34     3.073448
35 +        2.896383
< 10        3.019375
Name: Price, dtype: float64

In [18]:
groupsumvalue = purchasedataDF.groupby("Age Group")["Price"].sum()
groupsumvalue

Age Group
10 - 14     224.15
15 - 19     528.74
20 - 24     902.61
25 - 29     219.82
30 - 34     178.26
35 +        136.13
< 10         96.62
Name: Price, dtype: float64

Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN

Purchase Count

Average Purchase Price

Total Purchase Value

In [19]:
# groupby SN, sum the price, and then reset index
SNtop5sum = pd.DataFrame(purchasedataDF.groupby("SN")["Price"].sum())
SNtop5sum.reset_index(inplace = True)

In [20]:
# groupby SN, count the price, and then reset index
SNtop5count = pd.DataFrame(purchasedataDF.groupby("SN")["Price"].count())
SNtop5count.reset_index(inplace = True)

In [21]:
# groupby SN, mean of the price, and then reset index
SNtop5mean = pd.DataFrame(purchasedataDF.groupby("SN")["Price"].mean())
SNtop5mean.reset_index(inplace = True)

In [22]:
# merge sum and count tables together on SN
mergeSN = pd.merge(SNtop5sum, SNtop5count, on = "SN")

# merge the sum/count frame created with the mean on SN
mergeSN2 = pd.merge(mergeSN, SNtop5mean, on = "SN")

#rename columns accordingly and print top 5
mergeSN2.columns = ["SN","Total Purchase Value", "Total Count","Average Count"]
mergeSN2.head(5)

             SN  Total Purchase Value  Total Count  Average Count
0  Adairialis76                  2.46            1       2.460000
1    Aduephos78                  6.70            3       2.233333
2     Aeduera68                  5.80            3       1.933333
3        Aela49                  2.46            1       2.460000
4        Aela59                  1.27            1       1.270000

Most Popular Items


Identify the 5 most popular items by purchase count, then list (in a table):

Item ID

Item Name


Purchase Count

Item Price

Total Purchase Value

In [23]:
# groupby Item ID, count the price, and then reset index
ItemIDcount = pd.DataFrame(purchasedataDF.groupby("Item ID")["Price"].count())
ItemIDcount.reset_index(inplace = True)

In [24]:
# groupby Item ID, sum the price, and then reset index
ItemIDsum = pd.DataFrame(purchasedataDF.groupby("Item ID")["Price"].sum())
ItemIDsum.reset_index(inplace = True)

In [25]:
#merge ItemID count and sum dataframes
mergeItem = pd.merge(ItemIDcount, ItemIDsum, on = "Item ID")

#create new dataframe with just item ID, item name, and price of item
ItemNamePrice = pd.DataFrame(purchasedataDF[["Item ID","Item Name","Price"]])

#merge item count/sum table with new dataframe just created to to add the name and price
mergeItemTable = pd.merge(ItemNamePrice,mergeItem, on = "Item ID")

#rename columns and then sort by purchase count
mergeItemTable.columns = ["Item ID","Item Name", "Item Price","Purchase Count","Total Purchase Value"]
mergeItemTable = mergeItemTable.sort_values(["Purchase Count"], ascending = False)

#drop duplicate items and print top 5
mergeItemTableDup = mergeItemTable.drop_duplicates()
mergeItemTableDup.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
435,84,Arcane Gem,2.23,11,24.53
266,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
160,13,Serenity,1.49,9,13.41
339,175,Woeful Adamantite Claymore,1.24,9,11.16
237,31,Trickster,2.07,9,18.63

Most Profitable Items


Identify the 5 most profitable items by total purchase value, then list (in a table):
    
Item ID

Item Name

Purchase Count

Item Price

Total Purchase Value

In [26]:
# create new table with price, item id, and item name
ProfitTable = pd.DataFrame(purchasedataDF[["Price","Item ID","Item Name"]])
ProfitTableDF = ProfitTable.drop_duplicates()

In [27]:
 # groupby  Item ID, count the price, sort by price
ProfitCount = pd.DataFrame(purchasedataDF.groupby("Item ID")["Price"].count())
ProfitCount.reset_index(inplace = True)

In [28]:
# groupby Item ID, sum the price, sort by price
ProfitSum = pd.DataFrame(purchasedataDF.groupby("Item ID")["Price"].sum())
ProfitSum.reset_index(inplace = True)

In [29]:
# merge profit table DF and profit counts on Item ID
profitmerge = pd.merge(ProfitTableDF, ProfitCount, on = "Item ID")

# merge profitmerge and profit sums on Item ID
profitmerge2 = pd.merge(profitmerge, ProfitSum, on = "Item ID")

# rename columns
profitmerge2.columns = ["Price", "Item ID", "Item Name", "Purchase Count","Total Purchase Value"]

# sort on Price and print top 5
profitmergeTable = profitmerge2.sort_values(["Price"], ascending = False)
profitmergeTable.head()

,Price,Item ID,Item Name,Purchase Count,Total Purchase Value
45,4.95,32,Orenmir,6,29.70
19,4.89,177,"Winterthorn, Defender of Shifting Worlds",4,19.56
79,4.87,103,Singed Scalpel,6,29.22
82,4.83,173,Stormfury Longsword,5,24.15
86,4.82,42,The Decapitator,3,14.46